<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projcts.each do |projct| %>
      <tr>
        <td><%= projct.name %></td>
        <td><%= projct.summary %></td>
        <td><%= projct.startdate %></td>
        <td><%= projct.enddate %></td>
        <td><%= link_to 'Show tasks', tasks_url %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

